src/main/resources/xsd/abilities.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://pokeapi.com/poketest/soap" targetNamespace="http://pokeapi.com/poketest/soap" elementFormDefault="qualified">
    <xs:element name="getAllAbilitiesRequest" type="xs:string"/>
    <xs:element name="getAllAbilitiesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="abilities" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>